services:
  django:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      DJANGO_TIME_ZONE: ${DJANGO_TIME_ZONE}
      DJANGO_SETTINGS_MODULE: "core.settings"
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: "False"
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
{% if choosen_databse == 'postgres' %}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
{% endif %}
    volumes:
      - .:/app
{% if choosen_databse == 'sqlite' %}
      - sqlite_data:/db
{% endif %}
{% if is_huey_enabled %}
      - huey_data:/huey_db
{% endif %}

{% if is_huey_enabled %}
  huey_consumer:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python manage.py run_huey
    volumes:
      - .:/app
      - sqlite_data:/db
      - huey_data:/huey_db
    depends_on:
      - django
{% endif %}
volumes:
{% if choosen_databse == 'sqlite' %}
  sqlite_data:
{% endif %}
{% if is_huey_enabled %}
  huey_data:
{% endif %}