services:
  django:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    command: >
      sh -c "python wait_for_db.py &&
            python manage.py makemigrations --noinput &&
            python manage.py migrate --noinput &&
            python manage.py createinitialsuperuser &&
            python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    environment:
      DJANGO_TIME_ZONE: Europe/Warsaw
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_PASSWORD: admin
      DJANGO_SUPERUSER_EMAIL: admin@example.com
      DJANGO_SETTINGS_MODULE: "core.settings"
      DJANGO_SECRET_KEY: "your-secret-key-here"
      DEBUG: "True"
      ALLOWED_HOSTS: "localhost,192.168.0.29,0.0.0.0,127.0.0.1,[::1]"
{% if choosen_databse == 'postgres' %}
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
{% endif %}
    volumes:
      - .:/app
{% if choosen_databse == 'sqlite' %}
      - sqlite_data:/db
{% endif %}
{% if is_huey_enabled %}
      - huey_data:/huey_db
{% endif %}
{% if choosen_databse == 'postgres' %}
    depends_on:
      - db
{% endif %}

{% if choosen_databse == 'postgres' %}
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: always
{% endif %}

{% if is_huey_enabled %}
  huey_consumer:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python manage.py run_huey
    volumes:
      - .:/app
      - sqlite_data:/db
      - huey_data:/huey_db
    depends_on:
      - django
{% endif %}

volumes:
{% if choosen_databse == 'postgres' %}
  postgres_data:
{% endif %}
{% if choosen_databse == 'sqlite' %}
  sqlite_data:
{% endif %}
{% if is_huey_enabled %}
  huey_data:
{% endif %}